{% extends 'base.html.jinja2' %}

{% block page_header %}El Grapho{% endblock %}

{% block head_includes %}
<script src="{{ url_for('static', path='/js/ElGrapho.min.js') }}"></script>
<script>
let graph = null;
window.addEventListener("load", function() {
    let containerElement = document.getElementById('graph');
    fetch("{{ url_for('api_topology_el_grapho') }}").then(response => response.json())
    .catch(error => console.error("Error:", error))
    .then(function(response) {
        graph = new ElGrapho({
            container: containerElement,
            model: ElGrapho.layouts.ForceDirected(response),
            width: containerElement.clientWidth
        });
    });
});
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="subheader">El Grapho</div>
        <figure class="figure figure--horizontal">
            <img style="height: 120px;" src="https://raw.githubusercontent.com/ericdrowell/ElGrapho/master/img/elgrapho.png">
            <figcaption><a href="https://github.com/ericdrowell/ElGrapho">El Grapho</a> is a very easy to use visualization library for large graphs.<br>We simply need to supply the nodes and edges and El Grapho will do the rest.</figcaption>
        </figure>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div id="graph" class="card shadow border-0">
        </div>
    </div>
</div>
{% endblock %}
